@{
    ViewData["Title"] = "School";
    Layout = "_Layout";
}

<h1>
    School    
</h1>

<h2>
    En esta sección se desarrolla la parte de la Geolocalización del visitantes.
</h2>

<h2>
    Nombre: @Model.Nombre;
</h2>
<h2>
    Fecha de Fundación: @Model.Fundacion;
</h2>
<h2>
    ID: @Model.EscuelaId;
</h2>

<p>
    <strong>
        Dev: Yovan Yaune Enovore
    </strong>
</p>